body{
    margin: 0px;   
    height: 500x;
   
}


header{
    width: 100%;   
    height: 150vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(/images/physics.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-align: center;
   }

   .navbar {
    height: 12%;
    display: flex;
    align-items: center;
}

.logo{
    width: 50px;
    cursor: pointer;
}

nav{
    flex: 2;
    text-align: right;
}

nav ul li{
    list-style: none;
    display:inline-flex ;    
    margin-left: 40px;    
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px
}

header h1{
    color: #fff;
    font-size: 3em;
}


header .sha{
    float: left;
    text-align: center;

}

header h2{
    color: aqua;
}

.sha a{
    text-decoration: none;
}

.sha button{
    display: block;
    
    justify-content: center;
    align-items: center;
    padding-top: 30px;  
    margin-top: 30Px;  
    margin-left: 30px;
    width: 100px;
    height: 70px;
    border: none;
    color: white;
    border-radius: 4px;
    transition: ease-out 0.3s;
    font-size: 1rem;
    outline: none;
    box-shadow: inset 0 0 0 0 aqua;
    background-color: rgb(255,0,68);
    text-align: center;
}

.sha button:hover{
    box-shadow: inset 300px 0 0 0 aqua;
    cursor: pointer;
    color: #000;
}


.other{
    float: right;
    
}

.other h2{
    color: crimson;
    display: block;
}

.other a{
    text-decoration: none;
}

.other button{
    display: block;
    
    justify-content: center;
    align-items: center;
    padding-top: 30px;  
    margin-top: 30Px;  
    margin-left: 30px;
    width: 100px;
    height: 70px;
    border: none;
    color: white;
    border-radius: 4px;
    transition: ease-out 0.3s;
    font-size: 1rem;
    outline: none;
    box-shadow: inset 0 0 0 0 #2a78c7;
    background-color: rgb(255,0,68);
    text-align: center;
}

.other button:hover{
    box-shadow: inset 300px 0 0 0 #2a78c7;
    cursor: pointer;
    color: #000;
}